* {
    padding: 0;
    margin: 0;
}

.navbar-brand {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Lemonada', cursive;
}

.nav-link {
    font-size: 18px;
    font-family: fantasy;
    text-transform: uppercase;
    font-weight: 400;
    color: black !important;
}

.nav-link:hover {
    color: grey !important;
}

.bg-pf {
    background-repeat: no-repeat;
    background: url(../asset/asset/1733.jpg);
    background-size: cover;
    height: 500px;
    color: #fff;
}

.bg-pf h1 {
    padding-top: 85px;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: lighter;
}

.bg-pf p {
    font-size: 25px;
    font-weight: lighter;
    font-family: sans-serif;
}

.bg-pf hr {
    border: 1px solid #fff;
    width: 500px;
    margin: initial;
}

.about {
    margin-top: 80px;
    color: black;
}

.about h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: lighter;
}

.about hr {
    border: 1px solid black;
    width: 100px;
    margin: auto;
}

.about p {
    padding-top: 20px;
    text-transform: capitalize;
    font-style: italic;
}

.skill {
    margin-top: 100px;
    background-color: #fff;
}

.skill h2 {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: lighter;
    font-family: sans-serif;
    margin-bottom: 50px;
}

.contact {
    margin-top: 120px;
}

 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: greenyellow;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .form-contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } 

  .contact h2 {
      font-size: 35px;
      text-transform: uppercase;
      font-weight: lighter;
      margin-bottom: 30px;
  }

  footer {
      background-color: black;
      color: #fff;
      margin-top: 20px;
      height: 100px;
  }

  footer p {
      padding-top: 20px;
      font-weight: lighter;
      text-transform: capitalize;
  }

  footer h4 {
      bottom: 50px;
      font-weight: lighter;
      text-transform: capitalize;
  }

  @media (min-width:360px){
      .col {
          margin-bottom: 50px;
      }
  }